@model CustomerViewModel

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
@{
    Layout = null;
}


<div class="container">
    
    <form method="post"> 
        <label>Gönderici Id</label>
        <input type="text" asp-for="SenderId" class="form-control"/>
        <br />
        <label>Alıcı Id</label>
        <input type="text" asp-for="ReceiverId" class="form-control" />
        <br />
        <label>Tutar</label>
        <input type="text" asp-for="Amount" class="form-control" />
        <br />
        <button class="btn btn-primary">Gönder</button>
    </form>

</div>