 
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
@{
    Layout = null;
}

<div class="container">
    <br/>
    <h3>Plan Adı:@ViewBag.v1</h3>
    <h3>Kişi Sayısı:@ViewBag.v3</h3>
    <h3>Plan Fiyatı:@ViewBag.v4</h3>
    <h3>Plan İçeriği:@ViewBag.v2</h3>
    <h3>Plan Çözünürlüğü:@ViewBag.v5</h3>

    <a href="/Default/BasicPlanIndex" class="btn btn-warning">Temel Plan</a>
    <a href="/Default/StandardPlanIndex" class="btn btn-info">Standart Plan</a>

 </div>