@model List<DesignPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
@{
    Layout = null;
}
<div class="container">
    <br />

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Ad</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Sil</th>
            <th>Getir</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a href="/Default/DeleteProduct/@item.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Default/GetProduct/@item.Id" class="btn btn-dark">Getir</a></td>
                <td><a href="/Default/UpdateProduct/@item.Id" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
   <a href="/Default/AddProduct"   class="btn btn-info">Ürün Ekle</a>
   
</div>